<div class='container'>

    <div class="header-container">
        <div class="header-name">Dziennik emocji</div>
        <div class="header-menu-icon">
            <img src="assets/menu_icon.svg">
        </div>
    </div>

    <div class='rectangle'>
        <img id='logo' class='logo' src='assets/logo.svg' />
        <div id='text-info' class='text-info'>
            To miejsce służy do monitorowania Twoich emocji.
            Dodaj swój pierwszy wpis z zarejestrowaną przez
            Ciebie emocją.
        </div>
    </div>


    <button class='button-create-entry'>
        <div class='button-create-entry-text'>
            Dodaj wpis</div>
        </button>
</div>