<div class="container">
 
  <div class="text-logo-container">
    <img src="assets/text_logo.png" class="text-logo"/>
  </div>

  <div class="rectangle-container">

    <img src="assets/logo.svg" class="logo" />

    <img src="assets/svg.svg" class="rectangle" />
    
    <span class="small-text">
      Zacznij monitorować swoje emocje za pomocą aplikacji SelfAID
    </span>
   <span class="title">
      Dziennik emocji
  </span>

    <button (click)="router.navigate(['/test2']);" class="start-button">
      <span class="start-button-text">
        Zaczynamy!
      </span>
    </button>

  </div>

</div>
