<div>
    <div class="ekranstartowy-main-screen">
      <img
        src="assets/rectanglemainscreen1836-couc.svg"
        alt="RectangleMainScreen1836"
        class="ekranstartowy-rectangle-main-screen"
      />
      <span class="ekranstartowy-text">
        <span>Zacznij monitorować swoje emocje za pomocą aplikacji SelfAID</span>
      </span>
      <img
        src="assets/v181_623.png"
        alt="NapisZLogo1816"
        class="ekranstartowy-napis--logo"
      />
      <span class="ekranstartowy-text2">
        <span>
          <span>Dziennik emocji</span>
          <br />
          <span></span>
        </span>
      </span>
      <div class="ekranstartowy-zaczynamy">
        <span class="ekranstartowy-text7"><span>Zaczynamy!</span></span>
      </div>
      <img
        src="assets/vector1836-pmg.svg"
        alt="Vector1836"
        class="ekranstartowy-vector"
      />
    </div>
  </div>
  