<div>
    <div class="main-screen">
      <img
        src="assets/rectangle_main_screen.svg"
        class="rectangle-main-screen"
      />
      <span class="small-text">
        <span>Zacznij monitorować swoje emocje za pomocą aplikacji SelfAID</span>
      </span>
      <img
        src="assets/text_logo.png"
        class="text-logo"
      />
      <span class="title">
        <span>
          <span>Dziennik emocji</span>
          <br />
          <span></span>
        </span>
      </span>
      <div class="start-button">
        <span class="start-button-text"><span>Zaczynamy!</span></span>
      </div>
      <img
        src="assets/logo.svg"
        class="logo"
      />
    </div>
  </div>
  