<div>
    <h1>Welcome to Emotions CRUD</h1>
    <label>Emotion name: </label>
    <input #emotionName />
    <button (click)="addEmotion(encryptionService.encryptData(emotionName.value)); emotionName.value=''">
        Add new emotion
    </button>
</div>
<br>
<div>
    <li *ngFor="let emotion of (emotions$ | async)">
        <a>
            <button (click)="deleteEmotion(emotion);">Delete</button>
            <span>id: {{emotion.id}}, </span>
            <span>name: {{encryptionService.decryptData(emotion.name)}}</span>
            <input #newName placeholder="Changed name">
            <button (click)="updateEmotion(emotion, newName.value); newName.value=''">
                Update
            </button>
        </a>    
</div>

